<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179098698-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
        {% if site.google_appweb %}
        gtag('config', '{{ site.google_appweb }}');
        {% endif %}
    </script>
    {% endif %}

    <script async defer src="https://app.ai-chat.it/scripts/widget.js" type="application/javascript" data-ai-chat-id="widget"></script>
    <script type="application/javascript">
        document.addEventListener("AIChatLoaded", function() {
            initializeAIChat('c26b949b-0cb2-4f09-aac7-3e4f1a47c308');
        });
    </script>
</head>
