---
---

@import "{{ site.theme }}";

header {
  width: 180px;
}

section {
  width: 620px;
  font-size: 17px;

  @media print, screen and (max-width: 960px) {
    font-size: 15px;
  }

  @media print, screen and (max-width: 720px) {
    font-size: 14px;
  }

  @media print, screen and (max-width: 480px) {
    font-size: 13px;
  }
}
