<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="css/main.css"/>
        <link rel="icon" href="images/favicon.png"/>
    </head>
    <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <div class="container">
        {{ content }}
    </div>
    <footer>
        <ul>
            <li><a href="https://github.com/Emulator000">github.com/Emulator000</a></li>
        </ul>
    </footer>
    </body>
</html>
